body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: center;
    justify-content: center;
}

h1 {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.projects-container{
    margin: 10px;
    padding-bottom: 10px;
}

h2 {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.perfil-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid #ccc; 
    border-radius: 10px;
}

.perfil-image{
    width: 10%;
    object-fit: contain;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 50%;
}

p{
    padding-left: 10 px;
}

ul li{
    font-size: x-large;
    color:rgb(165, 124, 42);
}